<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Group info</title>
</head>
<body>

<div sec:authorize="hasAuthority('ADMIN')">
    <div th:insert="navigation :: admin-navbar"></div>
</div>
<div sec:authorize="hasAuthority('TUTOR')">
    <div th:insert="navigation :: tutor-navbar"></div>
</div>
<div sec:authorize="hasAuthority('STUDENT')">
    <div th:insert="navigation :: student-navbar"></div>
</div>

<b>Name: </b> <b th:text="${group.name}"></b><br><br>
<b>Course: </b> <b th:text="${group.course.name}"></b><br><br>

<form th:action="@{/groups/{id}/students/add(id=${group.id})}" method="post" sec:authorize="hasAuthority('STUDENT')">
    <label>
        <input type="text" name="password">
    </label>
    <input type="submit" value="join">
</form>

<div th:if="${isInGroup == true}">
    <table border="1px solid black">
        <tr>
            <td>ID</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email</td>
            <td>Department</td>
            <td>Faculty</td>
        </tr>
        <tr th:each="student : ${group.students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstname}"></td>
            <td th:text="${student.lastname}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.department}"></td>
            <td th:text="${student.faculty}"></td>
            <td>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/users/{id}(id=${student.id})}"> Go to user</a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>