<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Welcome</a></li>
        <li><a th:href="@{/users}">Users</a></li>
        <li><a th:href="@{/groups}">Groups</a></li>
        <li><a th:href="@{/courses}">Courses</a></li>
        <li><a th:href="@{/lessons}">Lessons</a></li>
    </ul>
</nav>

<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Course</td>

    </tr>
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.name}"></td>
        <td th:text="${group.course.name}"></td>
    </tr>
</table>
</body>
</html>