<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="import" href="/templates/navigation.html">
</head>
<body>

<div th:insert="navigation :: navbar"></div>

<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Course</td>
    </tr>
    <tr th:each="group : ${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.name}"></td>
        <td th:text="${group.course.name}"></td>
    </tr>
</table>
</body>
</html>