<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Welcome</a></li>
        <li><a th:href="@{/users}">Users</a></li>
        <li><a th:href="@{/groups}">Groups</a></li>
        <li><a th:href="@{/courses}">Courses</a></li>
        <li><a th:href="@{/lessons}">Lessons</a></li>
    </ul>
</nav>

<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Classroom</td>
        <td>Day</td>
        <td>Group</td>
        <td>Tutor</td>
    </tr>
    <tr th:each="lesson : ${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.name}"></td>
        <td th:text="${lesson.classroom}"></td>
        <td th:text="${lesson.dayOfWeek}"></td>
        <td th:text="${lesson.group.name}"></td>
        <td th:text="${lesson.tutor}"></td>
    </tr>
</table>
</body>
</html>