<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2><a href="/logout">Log out</a></h2>

<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Email</td>
        <td>Department</td>
        <td>Faculty</td>
        <td>Role</td>
        <td>Active</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.faculty}"></td>
        <td>
            <form th:action="@{/admin/user/role/{id}(id=${user.id})}" method="post">
                <input type="submit" th:value="${user.role}">
            </form>
        </td>
        <td>
            <form th:action="@{/admin/user/ban/{id}(id=${user.id})}" method="post">
                <input type="submit" th:value="${user.active}">
            </form>
        </td>
    </tr>
</table>
</body>
</html>