<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div sec:authorize="hasAuthority('ADMIN')">
    <div th:insert="navigation :: admin-navbar"></div>
</div>
<div sec:authorize="hasAuthority('TUTOR')">
    <div th:insert="navigation :: tutor-navbar"></div>
</div>
<div sec:authorize="hasAuthority('STUDENT')">
    <div th:insert="navigation :: student-navbar"></div>
</div>

<h2><a href="/logout">Log out</a></h2>

<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Email</td>
        <td>Department</td>
        <td>Faculty</td>
        <td>Role</td>
        <td>Change Role</td>
        <td>Active</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.faculty}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form th:action="@{/admin/users/role/{id}(id=${user.id})}" method="post">
                <input type="radio" id="admin" name="role" value="ADMIN">
                <label for="admin">ADMIN</label><br>
                <input type="radio" id="tutor" name="role" value="TUTOR">
                <label for="tutor">TUTOR</label><br>
                <input type="radio" id="student" name="role" value="STUDENT">
                <label for="student">STUDENT</label>
                <input type="submit" value="Submit">
            </form>
        </td>
        <td>
            <form th:action="@{/admin/users/ban/{id}(id=${user.id})}" method="post">
                <input type="submit" th:value="${user.active}">
            </form>
        </td>
    </tr>
</table>
</body>
</html>