<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div sec:authorize="hasAuthority('ADMIN')">
    <div th:insert="navigation :: admin-navbar"></div>
</div>
<div sec:authorize="hasAuthority('TUTOR')">
    <div th:insert="navigation :: tutor-navbar"></div>
</div>
<div sec:authorize="hasAuthority('STUDENT')">
    <div th:insert="navigation :: student-navbar"></div>
</div>

<h2><a href="/logout">Log out</a></h2>

<table border="1px solid black">
    <tr>
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Email</td>
        <td>Department</td>
        <td>Faculty</td>
        <td>Role</td>
        <td>Group</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.department}"></td>
        <td th:text="${user.faculty}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.group != null ? user.group.name : 'None'}"></td>
        <td><a th:href="@{/users/{id}(id=${user.id})}"> Go to user</a></td>
    </tr>
</table>
</body>
</html>